<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/google">Log In Test</a>
    <a href="/logout">Log Out Test</a>
      <h3><%= user %></h3>
  </body>
</html>
