* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 16px;
  color: gray;
}

a{
  text-decoration: none;
}

#offcanvasNavbarLabel:hover, #offcanvasNavbarLabel:active, #offcanvasNavbarLabel:focus {
  text-decoration: none;
  color: rgb(7, 73, 7);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-light .navbar-title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  color: rgb(7, 73, 7);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.offcanvas-title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  color: rgb(7, 73, 7);
}

.main {
  position: absolute;
  top: 66px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#explore-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile {
  width: 90vw;
  max-width: 400px;
  height: 450px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.project-tile img {
  width: 100%;
  height: auto;
  max-height: 50%;
  border-radius: 5%;
}

.tile-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.project-tile * {
  margin: 0;
}

.tile-content > h4 {
  font-weight: 900;
}

.tile-content > p {
  text-align: justify;
}

.money-green {
  color: #5c9e35;
}

.primary-button {
  width: 125px;
  padding: 6px 12px;
  color: white;
  background-color: rgb(7, 73, 7);
  border-color: rgb(7, 73, 7);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height:1.5;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
  text-decoration: none;
  color: white;
}

#show-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#show-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#show-content > * {
  margin: 0px 0px 15px 0px;
  
}

#show-content > p {
  text-align: justify;
}

.funding-status > p {
  margin: 0;
}

#pledge-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#pledge-history > * {
  margin: 0;
}

td{
  text-align: left;
  padding: 0 10px;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard-container > * {
  margin-bottom: 10px;
}

.primary-table {
  border-collapse: collapse;
  min-width: 200px;
  color: gray;
}

.primary-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.primary-table td {
  padding: 5px;
}

.edit {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit svg {
  color: gray;
  margin: 2px;
}

.delete{
  border: none;
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete svg {
  color: gray;
  margin: 2px;
}

#update-wallet-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money-input {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 3px;
  overflow: hidden;
}

.money-input span {
  font-weight: 300;
  font-size: 20px;
  color: #999;
}

.money-input input {
  flex-grow: 1;
  font-size: 20px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #5c9e35;
}

#update-wallet-form .primary-button{
  margin-top: 10px;
}

.money-input:focus-within {
  border-color: #777;
}

#new-project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-project-form > * {
  margin-bottom: 10px;
} 

#new-project-form > label {
  font-weight: 900;
}

#new-project-form > input {
  width: 200px;
}

#new-project-form > textarea {
  width: 200px;
}

#new-project-form > div {
  width: 200px;
}

#new-project-form > .primary-button {
  width: 130px;
}

#edit-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-project-form > * {
  margin-bottom: 10px;
}

#edit-project-form > label {
  font-weight: 900;
}

#edit-project-form > input {
  width: 200px;
}

#edit-project-form > textarea {
  width: 200px;
}

#edit-project-form > div {
  width: 200px;
}

#edit-project-form .primary-button {
  margin-top: 10px;
  width: 130px;
}

#new-pledge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-pledge-container > * {
  margin-bottom: 10px;
}

#add-pledge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-pledge-form > * {
  margin-bottom: 10px;
}

@media only screen and (min-width: 769px){  
  #show-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  #show-content {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    margin-left: 15px;
  }

  #show-img {
    width: auto;
    max-width: 66%;
    height: 100%;
  }
}

@media only screen and (min-width:1020px){
  #explore-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}