<%- include('../partials/header') %>
<h1>Hello World</h1>
<form id="new-form" action="/projects" method="POST">
    <label>Project Name</label>
    <input type="text" name="projectName">
    <label>Image</label>
    <input type="text" name="img">
    <label>Description</label>
    <textarea name="description"></textarea>
    <label>Target</label>
    <input type="text" name="target">
    <input type="submit" value="Create Project">
</form>
<%- include('../partials/footer') %>